*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* --primary-color:#e82574; */
    --primary-color:#dd580b;
    --primary-color-dark:#bc1c5c;
    --text-dark:#0c0a0a;
    --text-light:#78716c;
    --white:#ffff;
    --max-width:1200px;
}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_subheader{
    margin-bottom: .5rem;
    position:relative;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-dark);
}

.section_subheader::after{
    position: absolute;
    content: '';
    top: 50%;
    transform: translate(1rem,50%);
    height: 2px;
    width: 4rem;
    background-color: var(--primary-color);

}

.section_header{
    max-width: 600px;
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 3rem;
    color: var(--text-dark);
}
.section_description{
    max-width: 600px;
    margin-bottom: 1rem;
    color: var(--text-light);
}
.btn{
    padding: .75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    transition: .0.3s;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--primary-color-dark);
}

img{
    width: 100%;
    display: flex;
}
a{
    text-decoration: none;
}

.logo{
    max-width: 40px;
}
html,
body{
    scroll-behavior: smooth;
}
body{
    font-family: 'poppins' sans-serif;
}

.header{
    background-image:url("../assets/project\ 4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

nav{
    position: fixed;
    isolation: isolate;
    top: 0;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    z-index: 9;
}

.nav_bar{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--primary-color);

}

.nav_menu_btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav_link{
    list-style: none;
    position: absolute;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color-dark);
    transition: 0.5s;
    transform: translateY(-100%);
    z-index: -9;
}


.nav_link.open{
    transform: translateY(0);
}

.nav_link a{
    padding-bottom: 8px;
    isolation: isolate;
    color: var(--white);
    transition: 0.3s;
}
.nav_btn{
    display: none;
}

.header_container{
    padding-block: 10rem 15rem;
}

.header_container p{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--white);
    text-align: center;
    opacity: 0.6;
}

.header_container h1{
    font-size: 4rem;
    font-weight: 500;
    line-height: 4.2rem;
    text-align: center;
    color: var(--white);
}

.header_container  h1 span{
    color: var(--primary-color);
}

.booking_container{
    padding-block: 0;
}

.booking_form{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--white);
    border-radius: 10px;
    transform: translateY(-130%);
    gap: 1rem;
}

.input_group{
    flex: 1 1 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.input_group span{
    font-size: 1.75rem;
    color: var(--primary-color);
}

.input_group label{
    font-weight: 500;
    color: var(--text-dark);
}


.input_group input{
    width: 100%;
    display: block;
    max-width: 150px;
    padding-block: 5px;
    color: var(--text-dark);
    font-size: 0.95rem;
    border: none;
}

.input_group input::placeholder{
    color: var(--text-light);
}


.about_container{
    overflow: hidden;
    display: grid;
    gap: 2rem;
}

.about_image img{
    max-width: 450px;
    margin: auto;
    border-radius: 5px;
}

.room-grid{
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
  
}

.room_card{
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    margin: 3px;
    padding: 3px 6px;
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
}

.room_card_image{
    position: relative;
    isolation: isolate;
}

.room_card_icons{
    position: absolute;
    right: 1rem;
    left: -2rem;
    bottom: 1.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 1rem;
    z-index: 1;
    /* visibility: hidden; */
}

.room_card_icons span{
    display: inline-block;
    padding: 5px 6px;
    font-size: 1.4rem;
    background-color: var(--white);
    border-radius: 100px;
}

.room_card_image{
    padding: 1rem;
    border-radius: 10px;

}
.room_card_image img{
    /* padding: 1rem; */
    border-radius: 8px;
    transition: .2s;

}
.room_card_image img:hover{
    transform: scale(1.2);
}

.room_card h4{
    font-size:1.2rem ;
    padding: .5rem;
    color: var(--text-dark);
    margin-top: 0.5rem;
}

.room_card p{
  margin-top: .5rem;
  padding-right:2px;
  color: var(--text-light);
}

.room_card h5{
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 500;
    color: var(--text-light);
}

.room_card h5 span{
    color: var(--text-dark);
    font-size: 1.1rem;
}

.room_card_icons span:nth-child(1){
    color: var(--primary-color);
}

.room_card_icons span:nth-child(2) {
    color:#ad5f7e;
}
.room_card_icons span:nth-child(3) {
    color: var(--text-light);
}

.service{
    background-image:url("../assets/project\ 4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.service_container{
    padding-block: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.service_content{
    grid-column: 1/3;
    padding: 2rem 4rem;
    background-color: var(--white);
}

.service_list{
    list-style: none;
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
}
.service_list li{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
}

.service_list span{
    padding: 5px 12px;
    font-size: 1.75rem;
    color: var(--text-dark);
    background-color: var(--text-light);
    border-radius: 12px;
}
.service_list li:nth-child(1) span{
    color: #60a5fa;
    background-color: #b7babe;
}
.service_list li:nth-child(2) span{
    color: #29d14e;
    background-color: #709278;
}
.service_list li:nth-child(3) span{
    color: #c73ae4;
    background-color: #b587be;
}
.service_list li:nth-child(4) span{
    color: #6f60fa;
    background-color: #b7babe;
}

.service_content{
    grid-column: 2/3;
}

.banner_content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #f1dfcc;
    gap: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
    /* box-shadow: 5px 5px 20px rgba(0, 0, 0, 0); */
}

#banner_card{
    text-align: center;
    flex: 1 1 150px;
}

#banner_card h4{
    font-size: 3rem;
    font-weight: 600;
}

.banner_card p{
    color: var(--text-light);
}

.explore :is(.section_subheader,.section_header){
    text-align: center;
    margin-inline: auto;
}
.explore_bg{
    margin-top:  4rem;
    padding-block: 3rem;
    display: grid;
    grid-template-columns: 
    minmax(1rem,1fr)
    minmax(0,var(--max-width))
    minmax(1rem,1fr);
    background-image:url("../assets/project\ 4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
    
}

.explore_content{
    grid-column: 2/3;
    max-width: 700px;
    min-height: 500px;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 5px;
}

.explore_content h4{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.explore_content .btn{
    color: var(--primary-color);
    background-color: var(--white);
    border: 2px solid var(--primary-color-dark);
    transition: all ease-in .2s;
}

.explore_content .btn:hover{
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
}

.explore_image{
    margin-top: 2rem;
}

.explore_image img{
    border-radius: 5px;
}

.footer{
    background-color: var(--text-dark);
}

.footer .section_container{
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4rem 2rem; */
    display: flex;
}

.section_footer{
    display: grid;
    gap: 4rem 2rem;
}

.footer_col .section_description{
    margin-block: 2rem;
}

.footer_col h4{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}

.footer_links{
    list-style: none;
    display: grid;
    gap: 1rem;

}

.footer_links a{
    color: var(--text-light);
    transition: 0.3s;
    
}
.footer_links a:hover{
    color: var(--white);
}
.footer_socials{
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer_socials a i{
    font-size: 2rem;
    color: var(--primary-color);

}

.footer_socials a i:hover{
    color: var(--white);
    transform: translate(45deg);
}

.footer_bar{
    padding: 1rem;
    font-size: .9rem;
    text-align: center;
    color: var(--text-light);
}

.line{
    /* height: 1px; */
    /* width: 300px; */
    margin-bottom: 2rem;
    color: var(--text-light);
    border: 1px solid var(--text-light);
}

@media(width > 576px){
    .room_grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .footer .section_container{
        /* display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 4rem 2rem; */
       display: grid;
       grid-template-columns: repeat(2,1fr);
    }
}

@media(width > 768px){
   nav{
     padding: 2rem 1rem;
     position: static;
     display: flex;
     align-items: center;
     justify-content: space-between;
   }

   .nav_bar{
    padding: 0;
    background-color: transparent;
   }

   .nav_menu_btn{
    display: none;
   }

   .nav_link{
    width: unset;
    padding: 0;
    position: static;
    transform: none;
    flex-direction: row;
    background-color: transparent;
   }

   .nav_btn{
    display: block;
   }

  .nav_link a {
      position: relative;
      display: inline-block;
      padding-bottom: 5px;

  }

  
  .nav_link a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      background-color: var(--primary-color);
      transition: width 0.3s ease;
      transform-origin: left;
  }

  
  .nav_link a:hover::after {
      width: 100%;
  }

  .about_container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
  }

   .room_grid {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
   }
   .footer .section_container{
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4rem 2rem; */
   display: grid;
   grid-template-columns: repeat(4,1fr);
}
   

 
}


@media screen and (max-width: 480px) {
    .booking_form {
            padding: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            background-color: var(--white);
            border-radius: 10px;
            transform: translateY(-70%);
            gap: 1rem;
        }

        .section_header{
            max-width: 600px;
            margin-bottom: 1rem;
            font-size: 1.8rem;
            line-height: 3rem;
            color: var(--text-dark);
        }

        .section_subheader{
            font-size: 1rem;
        }

      .header_container {
                    /* padding-block: 10rem 15rem; */
                }

        .header_container p {
            margin-bottom: 0.6rem;
            font-size: 1rem;
            color: var(--white);
            text-align: center;
            opacity: 0.6;
        }
    
        .header_container h1 {
            font-size: 2rem;
            font-weight: 500;
            line-height: 4.2rem;
            text-align: center;
            color: var(--white);
        }
        .booking_container {
            padding-block: 0;
        }
    
        .booking_form {
            padding: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            background-color: var(--white);
            border-radius: 10px;
            transform: translateY(-80%);
            gap: 1rem;
        }
        .btn {
            padding: .75rem 1.5rem;
            outline: none;
            border: none;
            font-size: 1rem;
            font-weight: 300;
            font-size: 1rem;
            color: var(--white);
            background-color: var(--primary-color);
            border-radius: 5px;
            transition: .0.3s;
            cursor: pointer;
        }
        .input_group {
            flex: 1 1 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    
        .input_group span {
            font-size: 1rem;
            color: var(--primary-color);
        }
    
        .input_group label {
            font-weight: 300;
            color: var(--text-dark);
        }
    
    
        .input_group input {
            width: 100%;
            display: block;
            max-width: 150px;
            padding-block: 5px;
            color: var(--text-dark);
            font-size: 0.95rem;
            border: none;
        }

                .about_container {
                    grid-template-columns: repeat(1, 1fr);
                    align-items: center;
                    margin-top: -120px;
                }

                .explore_content{
                    grid-column: 2/3;
                    max-width: 700px;
                    min-height: 300px;
                    padding: 2rem;
                    background-color: var(--white);
                    border-radius: 5px;
                }
                .footer .section_container{
                    /* display: grid;
                    grid-template-columns: repeat(4,1fr);
                    gap: 4rem 2rem; */
                    display: flex;
                    flex-direction: column;
                    /* justify-content: center; */
                    /* align-items: center; */
                }
        .footer_col .logo{
            display: flex;
            justify-content: center;
        }
}
